@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #fff;
  --foreground: #CF0F0F;
  --card: #fff;
  --card-foreground: #CF0F0F;
  --popover: #fff;
  --popover-foreground: #CF0F0F;
  --primary: #F79A19;
  --primary-foreground: #fff;
  --secondary: #BBCB64;
  --secondary-foreground: #CF0F0F;
  --muted: #FFE52A;
  --muted-foreground: #BBCB64;
  --accent: #CF0F0F;
  --accent-foreground: #FFE52A;
  --destructive: #CF0F0F;
  --border: #F79A19;
  --input: #fff;
  --ring: #F79A19;
  --chart-1: #F79A19;
  --chart-2: #CF0F0F;
  --chart-3: #FFE52A;
  --chart-4: #BBCB64;
  --chart-5: #CF0F0F;
  --sidebar: #F79A19;
  --sidebar-foreground: #FFE52A;
  --sidebar-primary: #F79A19;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #CF0F0F;
  --sidebar-accent-foreground: #FFE52A;
  --sidebar-border: #F79A19;
  --sidebar-ring: #F79A19;
}

.dark {
  --background: #BBCB64;
  --foreground: #CF0F0F;
  --card: #F79A19;
  --card-foreground: #FFE52A;
  --popover: #F79A19;
  --popover-foreground: #FFE52A;
  --primary: #FFE52A;
  --primary-foreground: #CF0F0F;
  --secondary: #BBCB64;
  --secondary-foreground: #F79A19;
  --muted: #BBCB64;
  --muted-foreground: #FFE52A;
  --accent: #FFE52A;
  --accent-foreground: #F79A19;
  --destructive: #CF0F0F;
  --border: #FFE52A;
  --input: #F79A19;
  --ring: #BBCB64;
  --chart-1: #F79A19;
  --chart-2: #CF0F0F;
  --chart-3: #FFE52A;
  --chart-4: #BBCB64;
  --chart-5: #CF0F0F;
  --sidebar: #F79A19;
  --sidebar-foreground: #FFE52A;
  --sidebar-primary: #FFE52A;
  --sidebar-primary-foreground: #CF0F0F;
  --sidebar-accent: #CF0F0F;
  --sidebar-accent-foreground: #F79A19;
  --sidebar-border: #FFE52A;
  --sidebar-ring: #BBCB64;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
